.gamesDiv {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin-top: 3rem;
  row-gap: 6rem;
  column-gap: 2rem;
  padding: 0 5rem;
}

.gameDiv {
  margin: 0 auto;
  width: 23rem;
  flex-basis: 15rem;
  height: 12rem;
  transition: 0.3s;
  position: relative;
  z-index: 4;
  cursor: pointer;
}


.gameFig {
  position: absolute;
  overflow: hidden;
  border-radius: 2rem;
  border: 2px solid;
  width: 100%;
  transition: 0.3s;
  left: 0;
}

.gameImg {
  height: 15rem;
  width: 100%;
  transition: 0.3s;
}

.gameFig:first-child {
  z-index: 3;
  border-color: var(--hoverColor);
}
.gameFig:nth-child(2) {
  z-index: 4;
  border-color: var(--gameBorder);
}
.gameFig:nth-child(3) {
  z-index: 3;
  border-color: var(--hoverShadow);
}

.gameName {
  position: absolute;
  bottom: -4rem;
  padding: 1rem 0;
  text-align: center;
  color: black;
  background-color: rgb(83, 83, 195);
  box-shadow: 2px 2px 3px 2px rgb(195, 0, 255);
  height: 4rem;
  z-index: 10;
  border-radius: 0.5rem;
  border: 2px solid white;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transform: scale(0);
  transform-origin: top center;
  letter-spacing: 2px;
  font-size: 1.3rem;
  transition: 0.3s;
}

.heart {
  transform: scale(1);
  border: 2px solid darkred;
  background-color: var(--redBackground);
  color: darkred;
  height: auto;
  width: 2.5rem;
  font-size: 2rem;
  border-radius: 2rem;
  transition: 0.3s;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .gamesDiv {
    padding: 0 2rem;
  }
  .gameDiv {
    width: 15rem;
    flex-basis: 60%;
  }
  .gameName {
    font-size: 0.8rem !important;
  }
}
@media screen and (max-width: 390px) {
  .gameDiv {
    width: 2rem;
  }
  .gameName {
    font-size: 0.7rem !important;
  }
}