:root {
  /* SCROLL BAR BG COLOR */
  --seperatorBC: rgb(213, 185, 218);
  /* TYPEDIV, TYPES AND DOWN ARROW COLOR */
  --lightBlue: rgb(83, 201, 199);
  --hoverColor: rgb(27, 91, 164);
  --purpleShadow: rgb(144, 55, 179);
  --hoverShadow: rgb(190, 48, 187);
  /* INPUT BLUE */
  --inputBlue: rgb(81, 194, 238);
  /* MIDDLEGAME FIGURE BORDER COLOR WHITE */
  --gameBorder: rgb(191, 165, 194);
  /* BUTTON COLORS */
  --loadGreen: rgb(100, 204, 98);
  --redBackground: rgb(220, 190, 190);
    /* CLOSE SIGN COLORS */
  --closeSign: rgb(184, 60, 60);
  --closeSignHover: rgb(182, 31, 31);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* SCROLL BAR */
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background-color: var(--seperatorBC);
}
::-webkit-scrollbar-thumb {
  background: rgb(104, 0, 111);
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(104, 0, 111);
}
body {
  overflow-x: hidden;
  background-color: black;
  color: white;
  min-height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Rubik Gemstones", cursive;
}

nav,
div,
form,
figure,
a {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: white;
}

img {
  object-fit: cover;
}

nav {
  grid-template-columns: 5rem 1fr;
  grid-template-rows: 1fr;
  position: sticky;
  top: 0;
  z-index: 5;
  background-color: black;
}

@media screen and (max-width: 550px) {
  nav {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "header"
      "searchform";
  }
  #searchForm {
    margin-right: 5px !important;
  }
  #searchForm,
  #search {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 390px) {
  #searchForm {
    grid-template-columns: 1fr !important;
    grid-template-rows: 1fr 1fr !important;
    grid-template-areas:
      "typeDiv"
      "inputMain" !important;
    width: 100vw !important;
  }
}

#searchForm {
  min-width: 400px;
  max-width: 650px;
  grid-area: searchform;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "typeDiv inputMain";
  grid-column-gap: 0.5rem;
  margin: 1rem 2rem 0 0;
  position: absolute;
  right: 0;
  z-index: 3;
}
