#inputUnderlineDiv {
  position: relative;
  justify-items: flex-start;
}

#dot,
#underline {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 2rem;
}

#dot {
  background-color: white;
  box-shadow: 0px 0px 5px 2px white;
  z-index: 2;
  animation: dotSlider 2s forwards;
}
#underline {
  background: linear-gradient(90deg, rgb(144, 55, 179), rgb(146, 189, 206));
  z-index: 1;
  animation: underlineSlider 2s forwards;
}

@keyframes dotSlider {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes underlineSlider {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
