#inputMain {
  grid-area: inputMain;
  position: relative;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
}

#inputDiv {
  position: absolute;
  right: 0;
  height: 3.5rem;
}

@media screen and (max-width: 390px) {
  #inputDiv {
    width: 100vw ;
  }
  input {
    text-align: center;
  }
}

input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  font-family: "Rubik Gemstones", cursive;
  letter-spacing: 2px;
  color: var(--inputBlue);
  outline: none;
  border: none;
  position: relative;
  top: 8px;
  right: 0;
}

#inputUnderlineDiv {
  position: relative;
  justify-items: flex-start;
}

#dot,
#underline {
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 5px;
  border-radius: 2rem;
}

#dot {
  background-color: white;
  box-shadow: 0px 0px 5px 2px white;
  z-index: 2;
}
#underline {
  background: linear-gradient(90deg, rgb(144, 55, 179), var(--inputBlue));
  z-index: 1;
}

@keyframes dotSlider {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes underlineSlider {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
