#searchResultsDiv {
  position: absolute;
  width: 100%;
  max-height: 16rem;
  height: auto;
  top: 3rem;
  overflow-y: scroll;
  overflow-x: hidden;
  right: 0;
  grid-row-gap: 0.5rem;
    padding-right: 10px;

}

.searchFigure {
  height: 4rem;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  border-radius: 5px;

}

@media screen and (max-width: 390px) {
  #searchResultsDiv {
    width: 100vw;
  }
}

.searchImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
}

.searchCaption {
  position: absolute;
}
