#typesDiv {
  overflow: hidden;
  height: 10rem;
  padding-right: 5px;
  grid-template-columns: 1fr;
  position: absolute;
  right: 0;
  top: 2.5rem;
  width: 8rem;
  justify-items: flex-end;
}

.types {
  justify-content: flex-end;
  height: 2rem;
  width: 100%;
  transform-origin: left;
  transform: scale(0);
  cursor: pointer;
  transition: 0.3s;
}
