#typesDiv {
  overflow-y: hidden;
  height: 10rem;
  padding-right: 1rem;
  grid-template-columns: 1fr;
  position: absolute;
  top: 2.5rem;
  
}

.types {
  justify-content: flex-end;
  height: 2rem;
  width: 100%;
  transform-origin: left;
  transform: scale(0);
  cursor: pointer;
  transition: 0.3s;
}
