#typeMainDiv {
  position: relative;
  grid-template-rows: 1fr 1fr;
  grid-area: typeDiv;
}

#typeDiv {
  cursor: pointer;
  justify-content: flex-end;
  grid-template-columns: auto auto auto;
  grid-column-gap: 0.2rem;
  width: max-content;
  height: 2rem;
  position: absolute;
  right: 0;
}

@media screen and (max-width: 390px) {
  #typeDiv {
    width: 100vw;
    justify-content: center;
  }
}

.dropdown {
  transition: 0.3s;
}

#downArrow {
  justify-items: flex-end;
  font-size: 1.2rem;
  color: var(--lightBlue);
  text-shadow: 1px 2px var(--purpleShadow);
}

#filterType {
  color: var(--lightBlue);
  text-shadow: 2px 2px var(--purpleShadow);
}

#seperator {
  height: 20px;
  border-radius: 5rem;
  background-color: var(--seperatorBC);
  width: 2px;
  margin-left: 0.7rem;
}
